.zcompcache
.zcompdump
.zsh_sessions

.CFUserTextEncoding
.com.apple.timemachine.supported
.cpan*
.cups
.dvdcss
.macports
.lesshst
.viminfo
.irb_history
.ipython
.rdebug_hist
.byebug_hist
.lldb
.psql_history
.pry_history
.sqlite_history
.config
.rnd
.skipbuddy
.swiftpm

.ssh

.rubies
.bundler
.bundle
.cache
.local
.berkshelf
.chef
.gem
.boot2docker
.docker
.kube
.vagrant*
.virtualenvs
.terraform.d
.aws
.config.yaml
.gnupg
.fly

soloistrc
cookbooks

bin/mate
bin/HandBrakeCLI

etc/shell/saved_history
etc/shell/secrets
etc/less_history
etc/macos/

var/encoder.pid

Applications/
Desktop/
Developer/
Documents/
Downloads
.dropbox*
Dropbox/
Encoding/
Library/
Media/
Movies/
Music/
Pictures/
Projects/
Public/
Sites/
Sources/
Virtual Machines/
VirtualBox VMs/
